#LoginWrapper {
    display: grid;
}

#Login {
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
}

#Register {
    grid-column: 3;
    grid-row: 1;
    padding: 10px;
}

#ContinueButton {
    grid-column: 1/4;
}

/* LoginButton */
#loginButton {
    float: right;
}